@model ReservationDetailsViewModel

<h1>Reservation Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Date</dt>
        <dd class="col-sm-10">@Model.Reservation.ReservationDate.ToShortDateString()</dd>
        <dt class="col-sm-2">Time</dt>
        <dd class="col-sm-10">@Model.Reservation.ReservationTime.ToString(@"hh\:mm")</dd>
        <dt class="col-sm-2">Number of Guests</dt>
        <dd class="col-sm-10">@Model.Reservation.NumberOfGuests</dd>
    </dl>
</div>

@if (Model.Order != null)
{
    <h4>Order Details</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Order.OrderItems)
            {
                <tr>
                    <td>@item.MenuItemName</td>
                    <td>@item.Quantity</td>
                    <td>@(item.Price * item.Quantity)</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2">Total</th>
                <th>@Model.Order.TotalPrice.ToString("C")</th>
            </tr>
        </tfoot>
    </table>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model.Reservation.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>