@model IEnumerable<Caesar.Core.Entities.Reservation>

@{
    ViewData["Title"] = "My Reservations";
}

<h1>My Reservations</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Reservation</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Number of Guests</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Date.ToShortDateString()</td>
                <td>@item.Time.ToString(@"hh\:mm")</td>
                <td>@item.NumberOfGuests</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Cancel</a>
                </td>
            </tr>
        }
    </tbody>
</table>